In [15]:
with open('data.json', 'r') as file:
        lines = file.readlines()

with open('data.json', 'w') as file:
    for line in lines:
        if line.strip():  # sprawdzamy czy linia nie jest pusta
            line_without_comma = line.rstrip(',\n')  # usuwamy przecinek i znak nowej linii z ko≈Ñca linii
            file.write(line_without_comma + '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4969 entries, 0 to 4968
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    4969 non-null   object
dtypes: object(1)
memory usage: 38.9+ KB

                                                data
0  {'Text': 'I can't believe some guys feel OK ta...
1  {'Text': '"When Republicans are talking to def...
2  {'Text': '@SamSykesSwears @gregpak Segregated ...
3  {'Text': 'i'm watching LOTR w/ my kids and the...
4  {'Text': 'Your periodic reminder that if you d...